.reservation {
  background-color: #d9e7ff;
  background-image: url(/images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}
.reservation__form {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 385px;
  margin: 80px auto 120px;
  box-sizing: border-box;
  width: 100%;
}

.reservation__form_item {
  border-radius: 4px;
  font-family: "Inter";

  font-style: normal;

  font-weight: normal;

  font-size: 20px;

  line-height: 30px;
  height: 60px;
  margin: 0;
  padding-left: 20px;
}
.reservation__label-text {
  padding-bottom: 8px;
  margin: 0;
}
.reservation__form_button {
  border-radius: 4px;
  font-family: "Inter";

  font-style: normal;

  font-weight: 500;

  font-size: 16px;

  line-height: 20px;
  height: 60px;
  background-color: #2f80ed;
  color: #ffffff;
  margin: 0;
  display: flex;
  justify-content: space-around;
}
.reservation__form_button:hover {
  opacity: 70%;
}
.reservation__label {
  font-family: "Inter";

  font-style: normal;

  font-weight: 500;

  font-size: 16px;

  line-height: 20px;
  max-width: 385px;
  margin: 0;
  padding-bottom: 32px;
}
.reservation__label-checkbox {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  max-width: 385px;
  margin: 0;
  gap: 12px;
}
.reservation__form_checkbox {
  border-radius: 2px;
  height: 20px;
  width: 20px;
  margin: 0;
}
.reservation__form_checkbox:checked {
  background-color: #2f80ed;
  background-image: url(/images/check.svg);
}

.reservation__title {
  font-family: "Inter";

  font-style: normal;

  font-weight: 500;

  font-size: 44px;

  line-height: 52px;
  margin: 0 auto 80px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 100px;
}
.span-accent {
  font-family: "noto serif", "Times New Roman";

  font-style: italic;

  font-weight: normal;

  font-size: 58px;

  line-height: 72px;

  color: #2f80ed;
}
